html {
  font-size: 62.5%; /* Now 10px = 1rem! */
}

body {
  font-size: 15px; /* px fallback */
  font-size: 1.5rem; /* default font-size for document */
  line-height: 1.5; /* a nice line-height */
  background-color: #fff;
  font-family: 'Source Sans Pro';
}

p {
  margin: var(--spacing-medium) 0;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

:root {
  --black: #000;
  --near-black: #222;
  --dark-gray:#333;
  --mid-gray:#555;
  --gray: #777;
  --silver: #999;
  --light-silver: #aaa;
  --moon-gray: #ccc;
  --light-gray: #eee;
  --near-white: #f4f4f4;
  --white: #fff;

  --transparent:transparent;

  --black-90: rgba(0,0,0,.9);
  --black-80: rgba(0,0,0,.8);
  --black-70: rgba(0,0,0,.7);
  --black-60: rgba(0,0,0,.6);
  --black-50: rgba(0,0,0,.5);
  --black-40: rgba(0,0,0,.4);
  --black-30: rgba(0,0,0,.3);
  --black-20: rgba(0,0,0,.2);
  --black-10: rgba(0,0,0,.1);
  --black-05: rgba(0,0,0,.05);
  --black-025: rgba(0,0,0,.025);
  --black-0125: rgba(0,0,0,.0125);

  --white-90: rgba(255,255,255,.9);
  --white-80: rgba(255,255,255,.8);
  --white-70: rgba(255,255,255,.7);
  --white-60: rgba(255,255,255,.6);
  --white-50: rgba(255,255,255,.5);
  --white-40: rgba(255,255,255,.4);
  --white-30: rgba(255,255,255,.3);
  --white-20: rgba(255,255,255,.2);
  --white-10: rgba(255,255,255,.1);
  --white-05: rgba(255,255,255,.05);
  --white-025: rgba(255,255,255,.025);
  --white-0125: rgba(255,255,255,.0125);

  --spacing-none: 0;
  --spacing-extra-small: 5px;
  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 20px;
  --spacing-extra-large: 30px;
  --spacing-extra-extra-large: 50px;
  --spacing-extra-extra-extra-large: 100px;
}
